body {
    background-color: #646464;
    max-height:100%;
    display: flex;
    flex-direction: column;

    position:relative;
}
 
h2 {
    color: #b9b9b9;
    font-family: Arial, Helvetica, sans-serif;
}

.toprow { 
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 8px;
}
body {
    margin: 0;
    padding: 0;
}
.listrightmenu{
    justify-content: right;
}
.rightmenu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19;
    color: aliceblue;
    z-index: 900;
    align-items: right;
    justify-content: center;
    right:10;
    top: 170;
    width: 360px;
    height: 400px;
    background: hwb(0 34% 66% / 0.705);
    display:flex;
    border-radius: 18px ;
    position:fixed;
    padding: 10px;
    align-items: right;
}
.menu {
    z-index: 900;
    align-items: center;
    justify-content: center;
    bottom: 5;
    width: 550px;
    height: 75px;
    background: #57575794;
    display:block;
    border-radius: 19px ;
    position:fixed;
    padding: 10px;
    align-items: center;
  }
.main-row {
    width: 100%;  padding-top: 10px;   background: #2E2E2E; justify-content: center; display:flex;
}
#map { min-width: 80%; height: 900px;}
* {
    box-sizing: border-box;
}
.container {
    width:100%;
    max-width:600px;
    border:2px;
    margin: 0 auto;
    padding:2px;
}

.col2 {
    width:49%;
    float:left;
    margin-right:2%;  
    height: 10%;  
}
.col2:last-child {margin-right:0;  }
.wip{
    
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19;
        color: aliceblue;
        z-index: 900;
        align-items: right;
        justify-content: center;
        right:15;
        top: 0;
        display:flex;
        border-radius: 18px ;
        position:fixed;
        padding: 10px;
        align-items: right;
    
}